<div class="pure-g">
	<div class="pure-u-1-2">
		<h1 class="content-subhead" style="text-align:center;">GET IN TOUCH</h1>	
					<label>Sageo Technologies Ltd</label>
					<label>Ground Floor, Abcon House</label>
					<label>Masaba Rd, Upperhill, Nairobi</label>
					<hr />
					<label>Telephone	: +254 020 2345423</label>
					<label>Cell Phone : +254 0722-706701</label>
					<label>Email : info@sageotech.com</label>
					<label>Twitter : </label>
					<label>Facebook</label>
					
					<hr />
		
	</div>
	
	
	<div class="pure-u-1-2">
		<h1 class="content-subhead" style="text-align:center;">FIND US AT</h1>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sageo+Technologies+Limited,+Masaba+Road,+Nairobi,+Kenya&amp;aq=1&amp;oq=sageo+t&amp;sll=37.0625,-95.677068&amp;sspn=43.25835,86.572266&amp;ie=UTF8&amp;hq=Sageo+Technologies+Limited,&amp;hnear=Masaba+Rd,+Kenyatta+Hospital,+Nairobi,+Nairobi+Province,+Kenya&amp;t=m&amp;ll=-1.301115,36.823224&amp;spn=0.006295,0.006295&amp;output=embed">
		</iframe>
		<br />
		<small>
			<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sageo+Technologies+Limited,+Masaba+Road,+Nairobi,+Kenya&amp;aq=1&amp;oq=sageo+t&amp;sll=37.0625,-95.677068&amp;sspn=43.25835,86.572266&amp;ie=UTF8&amp;hq=Sageo+Technologies+Limited,&amp;hnear=Masaba+Rd,+Kenyatta+Hospital,+Nairobi,+Nairobi+Province,+Kenya&amp;t=m&amp;ll=-1.301115,36.823224&amp;spn=0.006295,0.006295" style="color:#0000FF;text-align:center;">
				View Larger Map
			</a>
		</small>
	</div>
	</div>
</div>
