<div class="pure-g">
	<div class="pure-u-1">
		<ul id="whatweoffer">
			<li>To create public awareness on the availability, use and benefits of a variety of IT
solutions.</li>
			<li>Professional advice on key implementations and adaptations based on business
structures.</li>
			<li>To operate with honesty and integrity at all times.</li>
			<li>To be customer focused and provide value for money.</li>
			<li>To perform to the highest level of competence at all times.</li>
			<li>To be a socially responsible company and do business in a prudent, ethical and
environmentally friendly manner.</li>
		</ul>
	</div>
</div>

<hr />
