<div class="pure-g">
	<div class="pure-u-1">
		<h3 style="text-align: center;">SAGEO TECHNOLOGIES LIMITED</h3>
		<p class="panels round" >
	Sageo Technologies Limited (STL) is a strategic IT solutions company that was
established to provide our clients with easily accessible and affordable IT solutions. STL
is the answer to an increasing demand of professional IT services rendered to
supplement business structures.
The popularity of IT based systems is growing exponentially. Those already using these
systems are well aware of how business restructuring has been made much simpler with
the aim of improving efficiency and performance. STL differentiates itself from other
technological firms in as much as being professional advisors in matters concerning IT,
while providing total integrated IT solutions.
		</p>
		
	</div>
</div>

<hr />
